{% extends "layout.twig" %}

{% block content %}
    <div class="booking-criteria">
        <h4>Entre em contato</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-md-6">
                        <form action="/enviar">
                            <fieldset>
                                <div class="field-separator clearfix">
                                    <label>Nome:</label>
                                    <input type="text" class="form-control" placeholder="Seu nome">
                                </div>
                                <div class="field-separator clearfix">
                                    <label>Email</label>
                                    <input type="text" class="form-control" placeholder="Seu email">
                                </div>
                                <div class="field-separator clearfix">
                                    <label>Telefone</label>
                                    <input type="text" class="form-control" placeholder="Seu telefone">
                                </div>
                                <div class="field-separator clearfix">
                                    <label>Mensagem</label>
                                    <textarea>Sua mensagem</textarea>
                                </div>
                                <div class="clearfix">
                                    <input type="submit" value="Enviar" class="t-btn btn-red">
                                </div>
                                <br>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}