{% extends "layout.twig" %}

{% block content %}
    <section class="home-tour animatedParent">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <header class="section-header header-with-nav first clearfix">
                        <h3 class="title pull-left animated growIn slower">Selecione a melhor imagem</h3>
                    </header>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../images/features-img-2.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="booking-tabs animated flipInY slowest" role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a href="#tab-destino" aria-controls="tab-destino" role="tab" data-toggle="tab"><i class="fa fa-building-o"></i></a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-perfil" aria-controls="tab-perfil" role="tab" data-toggle="tab"><i class="fa fa-user"></i></a>
                            </li>
                            <li role="presentation">
                                <a href="#tab-transporte" aria-controls="tab-transporte" role="tab" data-toggle="tab"><i class="fa fa-plane"></i></a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#tab-organizacao" aria-controls="tab-organizacao" role="tab" data-toggle="tab"><i class="fa fa-calendar"></i></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="tab-destino">
                                <div class="booking-criteria">
                                    <h4>Destino</h4>
                                </div>
                                <div class="bookingform">
                                    <form action="#">
                                        <fieldset>
                                            <div class="field-separator clearfix">
                                                <label>Continente</label>
                                                <input type="text" class="form-control" placeholder="Informe o continente">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>País</label>
                                                <input type="text" class="form-control" placeholder="Informe o país">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Estado</label>
                                                <input type="text" class="form-control" placeholder="Informe o estado/distrito">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Cidade</label>
                                                <input type="text" class="form-control" placeholder="Informe a cidade">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Hotel</label>
                                                <input type="text" class="form-control" placeholder="Informe o link do site do hotel">
                                            </div>
                                        </fieldset>
                                        <div class="clearfix">
                                            <input type="submit" value="Salvar" class="t-btn btn-red">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-perfil">
                                <div class="booking-criteria">
                                    <h4>Perfil</h4>
                                </div>
                                <div class="bookingform">
                                    <form action="#">
                                        <fieldset>
                                            <div class="field-separator clearfix">
                                                <div class="field-separator clearfix">
                                                <label>Kids</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Negócio</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Cult</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Religiosa</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>LGBT</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Gastronômica</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Dança</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Parceiro</label>
                                                <textarea class="contact-from">Descreva o parceiro ideal de viagem</textarea>
                                            </div>
                                        </fieldset>
                                        <div class="clearfix">
                                            <input type="submit" value="Salvar" class="t-btn btn-red">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-transporte">
                                <div class="booking-criteria">
                                    <h4>Transporte</h4>
                                </div>
                                <div class="bookingform">
                                    <form action="#">
                                        <fieldset>
                                            <div class="field-separator clearfix">
                                                <label>Avião</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Ônibus</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Carro</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Barco</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Metrô</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Trem</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Bicicleta</label>
                                                <input type="checkbox" class="checkbox-radio-listing">
                                            </div>
                                        </fieldset>
                                        <div class="clearfix">
                                            <input type="submit" value="Salvar" class="t-btn btn-red">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="tab-organizacao">
                                <div class="booking-criteria">
                                    <h4>Organização</h4>
                               </div>
                                <div class="bookingform">
                                    <form action="#">
                                        <fieldset>
                                            <div class="field-separator clearfix">
                                                <label>Orçamento</label>
                                                <input type="number" class="form-control" placeholder="Até quanto deve custar?">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Mínimo de pessoas</label>
                                                <input type="number" class="form-control" placeholder="Quantas pessoas no mínimo">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Máximo de pessoas</label>
                                                <input type="number" class="form-control" placeholder="Qual o limite de pessoas">
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Início</label>
                                                <div class="input-group input-append date date-picker" >
                                                    <input type="text" class="form-control" name="date">
                                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label>Término</label>
                                                <div class="input-group input-append date date-picker" >
                                                    <input type="text" class="form-control" name="date">
                                                    <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="clearfix">
                                            <input type="submit" value="Concluir" class="t-btn btn-red">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}