{% extends "layout.twig" %}

{% block content %}
    <section class="home-special-offers animatedParent clearfix">
        <div class="container">
            <header class="section-header header-with-nav clearfix">
                <h3 class="title pull-left animated growIn">Dicas para sua próxima viagem</h3>
                <a class="pull-right animated growIn" href="#">Veja mais</a>
            </header>
            <div class="tour-carousel animated flipInX clearfix">
                <article class="tour-post">
                    <i class="circle-icon"></i>
                    <header class="tour-post-header clearfix">
                        <span class="tour-price pull-left">Abril</span>
                        <span class="tour-price-off pull-right">Cult</span>
                    </header>
                    <div class="tour-contents clearfix">
                        <figure class="tour-feature-img">
                            <img src="/images/tour-carousel-img-4.jpg" alt="Image"/>
                        </figure>
                        <h5 class="entry-title p-name">Cartagena</h5>
                        <a class="more-details u-url" href="#">Participar <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
                <article class="tour-post">
                    <header class="tour-post-header clearfix">
                        <span class="tour-price pull-left">Agosto</span>
                        <span class="tour-price-off pull-right">Kids</span>
                        <i class="circle-icon"></i>
                    </header>
                    <div class="tour-contents clearfix">
                        <figure class="tour-feature-img">
                            <img src="/images/tour-carousel-img-1.jpg" alt="Image"/>
                        </figure>
                        <h5 class="entry-title p-name">Orlando</h5>
                        <a class="more-details u-url" href="#">Participar <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
                <article class="tour-post">
                    <header class="tour-post-header clearfix">
                        <span class="tour-price pull-left">Julho</span>
                        <span class="tour-price-off pull-right">LGBT</span>
                        <i class="circle-icon"></i>
                    </header>
                    <div class="tour-contents clearfix">
                        <figure class="tour-feature-img">
                            <img src="/images/tour-carousel-img-2.jpg" alt="Image"/>
                        </figure>
                        <h5 class="entry-title p-name">Ibiza</h5>
                        <a class="more-details u-url" href="#">Participar <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
                <article class="tour-post">
                    <i class="circle-icon"></i>
                    <header class="tour-post-header clearfix">
                        <span class="tour-price pull-left">Abril</span>
                        <span class="tour-price-off pull-right">Cult</span>
                    </header>
                    <div class="tour-contents clearfix">
                        <figure class="tour-feature-img">
                            <img src="/images/tour-carousel-img-4.jpg" alt="Image"/>
                        </figure>
                        <h5 class="entry-title p-name">Cartagena</h5>
                        <a class="more-details u-url" href="#">Participar <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
                <article class="tour-post">
                    <header class="tour-post-header clearfix">
                        <span class="tour-price pull-left">Agosto</span>
                        <span class="tour-price-off pull-right">Kids</span>
                        <i class="circle-icon"></i>
                    </header>
                    <div class="tour-contents clearfix">
                        <figure class="tour-feature-img">
                            <img src="/images/tour-carousel-img-1.jpg" alt="Image"/>
                        </figure>
                        <h5 class="entry-title p-name">Orlando</h5>
                        <a class="more-details u-url" href="#">Participar <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>
                <article class="tour-post">
                    <header class="tour-post-header clearfix">
                        <span class="tour-price pull-left">Julho</span>
                        <span class="tour-price-off pull-right">LGBT</span>
                        <i class="circle-icon"></i>
                    </header>
                    <div class="tour-contents clearfix">
                        <figure class="tour-feature-img">
                            <img src="/images/tour-carousel-img-2.jpg" alt="Image"/>
                        </figure>
                        <h5 class="entry-title p-name">Ibiza</h5>
                        <a class="more-details u-url" href="#">Participar <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>                
            </div>
        </div>
    </section>
    <section class="home-tour animatedParent">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <header class="section-header header-with-nav first clearfix">
                        <h3 class="title pull-left animated growIn slower">Explore o mundo pelo tipo</h3>
                        <a class="pull-right animated growIn slower" href="#">Todas</a>
                    </header>
                    <div class="row">
                        <div class="col-md-6">
                            <article class="service-var-2 animated flipInY clearfix">
                                <div class="icon-wrap">
                                    <i class="dashicons dashicons-universal-access"></i>
                                </div>
                                <div class="contents-wrap">
                                    <h5 class="entry-title p-name">Curtas (<= 3 dias)</h5>
                                    <small>5 viagens disponíveis </small>
                                </div>
                                <a class="more" href="#"><i class="fa fa-angle-right"></i></a>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="service-var-2 animated flipInY clearfix">
                                <div class="icon-wrap">
                                    <i class="dashicons dashicons-editor-removeformatting"></i>
                                </div>
                                <div class="contents-wrap">
                                    <h5 class="entry-title p-name">Cult</h5>
                                    <small>4 viagens disponíveis </small>
                                </div>
                                <a class="more" href="#"><i class="fa fa-angle-right"></i></a>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="service-var-2 animated flipInY clearfix">
                                <div class="icon-wrap">
                                    <i class="dashicons dashicons-cloud"></i>
                                </div>
                                <div class="contents-wrap">
                                    <h5 class="entry-title p-name">Aventura</h5>
                                    <small>6 viagens disponíveis </small>
                                </div>
                                <a class="more" href="#"><i class="fa fa-angle-right"></i></a>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="service-var-2 animated flipInY clearfix">
                                <div class="icon-wrap">
                                    <i class="dashicons dashicons-admin-site"></i>
                                </div>
                                <div class="contents-wrap">
                                    <h5 class="entry-title p-name">Religiosa</h5>
                                    <small>2 viagens disponíveis </small>
                                </div>
                                <a class="more" href="#"><i class="fa fa-angle-right"></i></a>
                            </article>
                        </div>
                    </div>
                    <header class="section-header header-with-nav second clearfix">
                        <h3 class="title pull-left animated growIn slower">Escolha pelo destino</h3>
                        <a class="pull-right animated growIn slower" href="#">Todas</a>
                    </header>
                    <div class="tour-by-destination animated flipInX slower clearfix">
                        <div class="item">
                            <article class="destination-item clearfix">
                                <div class="map text-center">
                                    <h6 class="title">mykonos</h6>
                                    <img src="/images/map-img.png" alt="map"/>
                                </div>
                                <div class="destination-detail">
                                    <img src="/images/destination-img-1.jpg" alt="Destination"/>
                                    <ul class="arrow-list">
                                        <li><a href="#">Cidade 1</a></li>
                                        <li><a href="#">Cidade 2</a></li>
                                        <li><a href="#">Cidade 3</a></li>
                                        <li><a href="#">Cidade 4</a></li>
                                    </ul>
                                    <div class="destination-content clearfix">
                                        <h5 class="title">América do Sul</h5>
                                        <small> Descobertas incríveis</small>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <article class="destination-item clearfix">
                                <div class="map text-center">
                                    <h6 class="title">mykonos</h6>
                                    <img src="/images/map-img.png" alt="map"/>
                                </div>
                                <div class="destination-detail">
                                    <img src="/images/destination-img-1.jpg" alt="Destination"/>
                                    <ul class="arrow-list">
                                        <li><a href="#">Cidade 1</a></li>
                                        <li><a href="#">Cidade 2</a></li>
                                        <li><a href="#">Cidade 3</a></li>
                                        <li><a href="#">Cidade 4</a></li>
                                    </ul>
                                    <div class="destination-content clearfix">
                                        <h5 class="title">América do Norte</h5>
                                        <small> Conforto e cultura</small>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <article class="destination-item clearfix">
                                <div class="map text-center">
                                    <h6 class="title">mykonos</h6>
                                    <img src="/images/map-img.png" alt="map"/>
                                </div>
                                <div class="destination-detail">
                                    <img src="/images/destination-img-1.jpg" alt="Destination"/>
                                    <ul class="arrow-list">
                                        <li><a href="#">Cidade 1</a></li>
                                        <li><a href="#">Cidade 2</a></li>
                                        <li><a href="#">Cidade 3</a></li>
                                        <li><a href="#">Cidade 4</a></li>
                                    </ul>
                                    <div class="destination-content clearfix">
                                        <h5 class="title">Oceania</h5>
                                        <small> A natureza como vc nunca viu</small>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="item">
                            <article class="destination-item clearfix">
                                <div class="map text-center">
                                    <h6 class="title">mykonos</h6>
                                    <img src="/images/map-img.png" alt="map"/>
                                </div>
                                <div class="destination-detail">
                                    <img src="/images/destination-img-1.jpg" alt="Destination"/>
                                    <ul class="arrow-list">
                                        <li><a href="#">Cidade 1</a></li>
                                        <li><a href="#">Cidade 2</a></li>
                                        <li><a href="#">Cidade 3</a></li>
                                        <li><a href="#">Cidade 4</a></li>
                                    </ul>
                                    <div class="destination-content clearfix">
                                        <h5 class="title">Asia</h5>
                                        <small> A paz que vc procura</small>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="booking-tabs animated flipInY slowest" role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <a href="#tab-perfil" aria-controls="tab-perfil" role="tab" data-toggle="tab"><i class="fa fa-user"></i></a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#tab-organizacao" aria-controls="tab-organizacao" role="tab" data-toggle="tab"><i class="fa fa-calendar"></i></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="tab-perfil">
                                <div class="booking-criteria">
                                    <h4>Perfil</h4>
                                </div>
                                <div class="bookingform">
                                    <form action="#">
                                        <fieldset>
                                            <div class="field-separator clearfix">
                                                <label for="meio-transporte">Para</label>
                                                <select class="form-control" id="meio-transporte">
                                                    <option>Kids</option>
                                                    <option>Aventura</option>
                                                    <option>Cult</option>
                                                    <option>Religiosa</option>
                                                </select>
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label for="meio-transporte">Meio</label>
                                                <select class="form-control" id="meio-transporte">
                                                    <option>Avião</option>
                                                    <option>Ônibus</option>
                                                    <option>Metrô</option>
                                                    <option>Trem</option>
                                                </select>
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label for="orcamento">Orçamento</label>
                                                <select class="form-control" id="orcamento">
                                                    <option>500</option>
                                                    <option>1000</option>
                                                    <option>1500</option>
                                                    <option>2000</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <div class="clearfix">
                                            <input type="submit" value="Pesquisar" class="t-btn btn-red">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="tab-organizacao">
                                <div class="booking-criteria">
                                    <h4>Organização</h4>
                               </div>
                                <div class="bookingform">
                                    <form action="#">
                                        <fieldset>
                                            <div class="field-separator clearfix">
                                                <label for="optMinimo">Minimo de pessoas</label>
                                                <select class="form-control" id="optMinimo">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label for="optMinimo">Máximo de pessoas</label>
                                                <select class="form-control" id="optMaximo">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                            <div class="field-separator clearfix">
                                                <label for="optMinimo">Mês</label>
                                                <select class="form-control" id="optMinimo">
                                                    <option>Janeiro</option>
                                                    <option>Fevereiro</option>
                                                    <option>Março</option>
                                                    <option>Abril</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <div class="clearfix">
                                            <input type="submit" value="Pesquisar" class="t-btn btn-red">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}